# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.so

# -----------------------
# Model / Data Files
# -----------------------
*.pkl
*.pickle
*.csv

# -----------------------
# Config (sensitive)
# -----------------------
config.py